<section class="c-widget">
    <h2 class="c-widget__header">Reading</h2>
    {% if goodreads.length > 0 %}
    <ul class="c-books__list">
        {% for book in goodreads %}
        <li class="c-books__item">
            {% if book.cover %}
            <a href="{{ book.link }}" target="_blank">
                <img class="c-books__cover" src="{{ book.cover }}" alt="{{ book.title }}" loading="lazy">
            </a>
            {% endif %}
            <span class="c-books__title">{{ book.title }}</span>
            {% if book.author %}
            <span class="c-books__author">{{ book.author }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="c-widget__empty">No recent books.</p>
    {% endif %}
</section>
