{% if lab.length > 0 %}
<section class="c-widget">
    <h2 class="c-widget__header">
        Lab
        <a href="https://lab.onursenture.com" target="_blank" class="c-widget__more">lab.onursenture.com</a>
    </h2>
    <ul class="c-lab__list">
        {% for project in lab %}
        <li class="c-lab__item">
            <a href="https://lab.onursenture.com/projects/{{ project.slug }}" target="_blank" class="c-lab__link">
                <span class="c-lab__name">{{ project.name }}</span>
            </a>
            {% if project.description %}
            <span class="c-lab__description">{{ project.description }}</span>
            {% endif %}
            {% if project.date %}
            <span class="c-lab__date">{{ project.date | dateDisplay }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
