/* ==========================================================================
   GitHub Contributions
   ========================================================================== */

.c-github__graph {
    display: flex;
    gap: 2px;
    overflow-x: auto;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.c-github__week {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}

.c-github__day {
    aspect-ratio: 1;
    border-radius: 2px;
    background-color: #eff2f5;
}

.c-github__day--level-1 {
    background-color: #aceebb;
}

.c-github__day--level-2 {
    background-color: #4ac26b;
}

.c-github__day--level-3 {
    background-color: #2EA44E;
}

.c-github__day--level-4 {
    background-color: #126329;
}

.c-github__total {
    margin-top: 1.5rem;
    @include fs--caption;
    color: $c-base__01;
}
