/* ==========================================================================
   Lab
   ========================================================================== */

.c-lab__list {
    list-style: none;
}

.c-lab__item {
    padding: 1rem 0;

    &:first-child {
        padding-top: 0;
    }
}

.c-lab__link {
    color: $c-base__02;
}

.c-lab__name {
    @include fs--body;
}

.c-lab__description {
    @include fs--caption;
    color: $c-base__01;
    display: block;
    margin-top: 0.3rem;
}

.c-lab__date {
    @include fs--caption;
    color: $c-base__01;
    display: block;
    margin-top: 0.3rem;
}
