/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: 10rem; // 100px

    h1 {
        margin-bottom: 2.5rem; // 25px
        @include fs--heading-2;
        color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}
