<!DOCTYPE html>
<html>
    {% include "head.njk" %}
    <body>
        <main class="u-container{{ ' ' + containerClass if containerClass }}">
        {{ content | safe }}
        </main>
    </body>
</html>
