---
layout: base.njk
---
<div class="c-page{{ ' c-page--no-pt' if noPagePadding }}">
    {% include "header.njk" %}
    <div class="c-page__main">
    {{ content | safe }}
    </div>
    {% include "footer.njk" %}
</div>
