/* ==========================================================================
   Variabeles
   ========================================================================== */

// Colors via http://ethanschoonover.com/solarized
$c-base__03: #FCF5E4;
$c-base__02: #e0d6ed;
$c-base__01: #9c96a0;
$c-base__00: #8e8695;
$c-base__0: #716982;
$c-base__1: #6f5c74;
$c-base__2: #351641;
$c-base__3: #240d35;

$c-accent__blue: #e75152;
$c-accent__green: #8BE367;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;
