---
layout: page.njk
title: Habits
permalink: /habits/
---

<section class="c-habits">
    <h2 class="c-widget__header">
        Habits
        <a href="https://www.habitkit.app" target="_blank" class="c-widget__more">HabitKit</a>
    </h2>

    <div class="c-habits__grid">
        {% for habit in habits %}
        <div class="c-habit">
            <div class="c-habit__header">
                <span class="c-habit__name">{{ habit.name }}</span>
                <span class="c-habit__rate">{{ habit.rate }}%</span>
            </div>
            <div class="c-habit__graph">
                {% for week in habit.weeks %}
                <div class="c-habit__week">
                    {% for day in week %}
                    <div class="c-habit__day{% if day.done %} c-habit__day--done{% endif %}{% if day.future %} c-habit__day--future{% endif %}"></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
