/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 80rem; // 800px
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem; // 100px
    padding-right: 1rem; // 10px
    padding-left: 1rem; // 10px
}

.giflink-to-be {
  cursor: crosshair;
  padding: 3px;
  background-color: #FFEE58;
  color: #212121;
}
